<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<context:component-scan base-package="org.ipph"></context:component-scan>
	
	<!-- 源数据库 -->
	<bean id="fromJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="fromDataSource"/>
    </bean>
    
    <bean id="fromDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ipo"></property>
    	<property name="user" value="root"></property>
    	<property name="password" value="root"></property>
    </bean>
    
    <!-- 目标数据库 -->
	<bean id="toJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="toDataSource"/>
    </bean>
    
    <bean id="toDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/migration"></property>
    	<property name="user" value="root"></property>
    	<property name="password" value="root"></property>
    </bean>
    
    <!-- 错误数据库 -->
    <bean id="errorJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="errorDataSource"/>
    </bean>
    
    <bean id="errorDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
    	<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
    	<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/error_migration"></property>
    	<property name="user" value="root"></property>
    	<property name="password" value="root"></property>
    </bean>
    
    <!-- 格式化上下文处理类 -->
    <bean id="formaterContext" class="org.ipph.format.FormaterContext">
    	<property name="formaterList">
    		<list>
    			<ref bean="jsonMethodFormater"/>
    			<ref bean="patentNoFormater"/>
    			<ref bean="pctNoFormater"/>
    		</list>
    	</property>
    </bean>
    
    <!-- 格式化实现类 -->
    <bean id="jsonMethodFormater" class="org.ipph.format.JsonMethodFormater"></bean>
    <bean id="patentNoFormater" class="org.ipph.format.PatentNoFormater"></bean>
    <bean id="pctNoFormater" class="org.ipph.format.PctNoFormater"></bean>
    
    <!-- 条件处理 -->
    <bean id="conditionContext" class="org.ipph.condition.ConditionContext">
    	<property name="conditionList">
    		<list>
    			<ref bean="conditionInImpl"/>
    			<ref bean="conditionDefaultImpl"/>
    		</list>
    	</property>
    </bean>
    
    <bean id="conditionInImpl" class="org.ipph.condition.ConditionInImpl"></bean>
    <bean id="conditionDefaultImpl" class="org.ipph.condition.ConditionDefaultImpl"></bean>
</beans>